*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

nav{
    height: 64.5px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
}

/*Styling Hamburger Icon*/
.hamburger{
    position: absolute;
    left: 20px;
    top: 35px;
    z-index: 2;
    transform: translate(-5%, -50%);
}
.hamburger div{
    width: 18px;
    height:2px;
    background: #000;
    margin: 2px;
    transition:  0.2s ease;
}








/*Styling Links*/



.nav-links{
    position: absolute;
    text-transform: capitalize;
    border-bottom: 1px solid #cfcfd1;
    border-right: 1px solid #cfcfd1;
    border-left: 1px solid #cfcfd1; 
    top: 65px;
    margin-left: -250px;
    max-width: 250px;
    transition: margin .2s;
    background: #FFF;
    z-index: 2;
}
    


.nav-links a{ 
    padding: 12px 30px 14px;
    display: block;
    position: relative;
    text-decoration: none;
    position: relative;
    color: #000;
}
.nav-links a:not(:last-of-type)
{
    border-bottom: 1px solid #cfcfd1;
}

.nav-links a:first-of-type
{
    border-top: 1px solid #cfcfd1;
}


.nav-links a:hover{
    color: #333;
    text-decoration: none;
}


.nav-active {
    margin: 0;
}




/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-3.5px,2px);
}
.toggle .line2{
    transform: translate(10px,0px);
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-3.5px,-2px);
}
